/*  naamscript    : versiebeheer*/
/*  omschrijving  : klantenonderhoud systeem */
/* aamontwikelaar: Pim van Buren*/


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #D8C6AF;
    margin: 0;
    padding: 0;
}
.container {
    width: 40%;
    margin: 5% auto;
    border: none;
    padding: 20px;
    background-color: #B49B87;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #3D2F23;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}
.buttons button {
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    background-color: #9D8972;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}
.buttons button:hover {
    background-color: #8B7762;
}
.about {
    border-top: 2px solid #9D8972;
    padding-top: 15px;
    font-size: 18px;
    color: #3D2F23;
}